:root {
  --dark-black: #20201f;
  --white1: #eee;
  --white2: #ddd;
  --white3: rgb(214, 214, 214);
  --light-yellow: #f2f3cc;
  --link-color1: #4287f5; /* Light blue color for links */
  --link-color2: #b85f1b; /* Light orange color for links */
  --link-color3: #68b948; /* Light green color for links */
  --link-color4: #9d6db9; /* Light purple color for links */
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.social-media {
  text-align: center;
  font-size: 26px;
}

.contact-links li {
  list-style-type: none;
}

.contact-links a {
  text-decoration: none;
}

.popup {
  color: var(--link-color1);
}

.popup:hover {
  color: var(--link-color3);
}

.contact-links a:link {
  color: var(--link-color1);
}
.contact-links a:visited {
  color: var(--link-color2);
}
.contact-links a:hover {
  color: var(--link-color3);
}
.contact-links a:active {
  color: var(--link-color4);
}

/* BOOKING POPUP */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: auto;
  line-height: 25px;
  background-color: var(--dark-black);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  font-size: 15px;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* END OF BOOKING POPUP */

/* MEDIA QUERIES */
@media (max-width: 1280px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}

/* END OF MEDIA QUERIES */
