.music-player {
  display: block;
  padding-top: 80px;
  color: var(--white3);
  display: flex;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  max-width: 1100px;
  margin: 0 auto; /* Center horizontally within the parent container */
}

audio {
  width: 550px;
}

/* .soundcloud-player {
  width: 450px;
  height: 550px;
} */

/* ... (your previous CSS code) ... */

/* MUSIC PLAYER SECTION */
.music-player {
  display: block;
  padding-top: 20px; /* Adjust the spacing between music player and playlist */
  color: var(--white3);
  display: flex;
  flex-direction: column; /* Stack the media players vertically */
  align-items: center; /* Center horizontally */
}

/* MEDIA PLAYERS CONTAINER */
.media-players-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.soundcloud-player,
iframe[src*="spotify.com"] {
  width: 450px; /* Set the width for each media player */
  height: 450px; /* Automatically adjust the height based on content */
}

.spotify-player,
iframe[src*="spotify.com"] {
  margin-left: 50px;
  margin-right: 50px;
}

/* ... (the rest of your CSS code) ... */

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .main-body {
    max-width: 768px;
  }
  .media-players-container {
    display: block;
  }
  .soundcloud-player {
    margin-left: 50px;
    margin-top: 30%;
  }
  .spotify-player {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 640px) {
  .main-body {
  }
  .media-players-container {
    max-width: 420px;
  }
  .soundcloud-player,
  .spotify-player {
    max-width: 250px;
    margin: 0 auto;
  }
  .soundcloud-player {
    margin-top: 30%;
    margin-left: 50px;
  }
  .spotify-player {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .media-players-container {
    max-width: 400px;
  }
  .soundcloud-player,
  .spotify-player {
    margin-top: 100px;
  }
  .spotify-player {
    margin-bottom: 100px;
  }
}

/* END OF MEDIA QUERIES */
