/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

/* COLOR PALETTE TO EXPLORE   https://mycolor.space/?hex=%2320201F&sub=1 */

:root {
  --dark-black: #20201f;
  --white1: #eee;
  --white2: #ddd;
  --light-yellow: #f2f3cc;
}

body {
  /* margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #eee; */
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #20201f;
}

.nav-elements {
}

.home-link {
  margin-left: 30px;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #ddd;
  letter-spacing: 1px;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 35px;
}

.nav-elements ul a {
  color: rgb(214, 214, 214);
  font-size: 16px;
  font-weight: 00;
  text-decoration: none;
  float: left;
  display: block;
  text-align: center;
  padding-top: 4px;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.navbar a:hover {
  color: #8f8f90;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 20px; /* Decrease the margin for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .nav-elements ul li:not(:last-child) {
  }
}

@media screen and (max-width: 1024px) {
  .nav-elements ul li:not(:last-child) {
  }
}
