.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.video-player-container {
  /* Additional styles if needed, like max-width for responsiveness */
}
/* MEDIA QUERIES */
@media (max-width: 1280px) {
  .video-player-container {
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .video-player-container iframe {
    max-width: 680px;
  }
}

@media (max-width: 768px) {
  .video-player-container iframe {
    max-width: 540px;
    height: 480px;
  }
}

@media (max-width: 640px) {
  .video-player-container iframe {
    max-width: 400px;
    height: 360px;
  }
}

@media (max-width: 480px) {
  .video-player-container iframe {
    max-width: 280px;
    height: 320px;
  }
}

/* END OF MEDIA QUERIES */
