.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.video-player-container {
  /* Additional styles if needed, like max-width for responsiveness */
}
