@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-black: #20201f;
  --white1: #eee;
  --white2: #ddd;
  --white3: rgb(214, 214, 214);
  --light-yellow: #f2f3cc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-black);
}

.main-body {
  padding-top: 80px;
  color: var(--white3);
  display: flex;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  max-width: 1100px;
  margin: 0 auto; /* Center horizontally within the parent container */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.home-page-images {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}

.main-page-head-img,
.main-page-live-img {
  width: 350px;
  height: 250px;
  margin-left: 80px;
  border-radius: 20px;
}

/* .main-page-head-img {
  margin-bottom: 60px;
} */

.intro-paragraphs {
  margin-left: 50px;
  padding-right: 15px;
  overflow: hidden;
  height: 460px;
  letter-spacing: 1px;
}

.intro-paragraphs:hover {
  overflow-y: auto;
}

.intro-paragraph p {
  margin-bottom: 30px;
}

/* MEDIA QUERIES */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1280px) {
  .main-body {
    max-width: 960px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .main-body {
    max-width: 768px;
  }
  .main-page-head-img,
  .main-page-live-img {
    width: 270px;
    height: 188px;
    /* object-fit: contain; */
  }
  .intro-paragraphs {
    height: 420px;
  }
}

@media (max-width: 768px) {
  .main-body {
    max-width: 653px;
  }
  .main-page-head-img,
  .main-page-live-img {
    width: 202px;
    height: 141px;
    /* object-fit: contain; */
  }
  .intro-paragraphs {
    height: 330px;
  }
}

@media (max-width: 640px) {
  .main-body {
    max-width: 480px;
    display: block;
  }
  .main-page-head-img,
  .main-page-live-img {
    width: 245px;
    height: 175px;
    margin-left: 42px;
  }
  .intro-paragraphs {
    max-width: 245px;
    margin-top: 30px;
    height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .main-body {
    max-width: 320px;
    font-size: 0.95em;
  }
  .main-page-head-img,
  .main-page-live-img {
    width: 235px;
    height: 165px;
  }
}
